// 页面初始设置
@import 'variable'

body,html
<<<<<<< HEAD
  line-height: 1
  background: $color-neutral-background
  color: $color-neutral-content
img
  width: 100%
  height: 100%
.icon
  width: 1em; height: 1em
  vertical-align: -0.15em
  fill: currentColor
  overflow: hidden
  transform: scale(1.2)
=======
  background: $color-neutral-background
  line-height: 1
  font-family: $font-group
  font-size: $font-size-content
  color: $color-neutral-content
img
  width: 100%
>>>>>>> 85dd75f138c9e9142230004ec3f8dee5e1ba363c
