// 颜色定义规范
// 主色
$color-main-primary: #2d8cf0
$color-main-light-primary: #5cadff //常用于 hover
$color-main-dark-primary: #2b85e4 // 常用于 active
// 辅助色
$color-assist-info: #2d8cf0
$color-assist-success: #19be6b
$color-assist-warining: #ff9900
$color-assist-error: #ed3f14
// 中性色
$color-neutral-title: #1c2438
$color-neutral-content: #495060
$color-neutral-sub-color: #80848f //辅助、图标
$color-neutral-disabled: #bbbec4 // 失效
$color-neutral-border: #dddee1 // 边框
$color-neutral-divider: #dddee1
$color-neutral-background: #f8f8f9 // 背景


<<<<<<< HEAD
$tar-bar-height: 250px; // 底部导航条的高度
$grey-text: #919191;
$color-block-background: white;
=======
// 字体合集
$font-group: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif

// 字体定义规范
$font-size-main-header: 20px
$font-size-header: 18px
$font-size-subheader: 16px
$font-size-content: 14px
$font-size-content-small: 13px
$font-size-content-mizi: 14px
>>>>>>> 85dd75f138c9e9142230004ec3f8dee5e1ba363c
